<div class="container">
    <div class="page-header">
        <h1>Redditまとめ</h1>
    </div>
    <table class="table table-striped" border="1">
        <tbody>
        <% @reddit_articles.each_slice(2) do |reddit_articles| %>
            <tr>
                <% reddit_articles.each do |reddit_article| %>
                    <td style="vertical-align: bottom;">
                        <%= embed_link(reddit_article.reddit_medium.url).html_safe %>
                        <blockquote>
                            <a href="<%= reddit_article.url %>"><%= reddit_article.title %></a>
                        </blockquote>
                        <div class="col-lg-6 ">
                            <a class="btn btn-primary btn-block" href="<%= reddit_article.url %>">
                                <span class="text-left">リンク！</span>
                            </a>
                        </div>
                        <div class="col-lg-3 ">
                            <button type="button" class="btn btn-warning btn-block" data-clipboard-text="<%= reddit_article.reddit_medium.url %>">
                                コピー
                            </button>
                        </div>
                        <div class="col-lg-3">
                            <%= download_button(reddit_article.reddit_medium.url).html_safe %>
                        </div>
                    </td>
                <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
<script>
    $(function () {
        var clipboard = new Clipboard('.btn');
    });
</script>
